<div class="container register" id="form-box">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="../../assets/img/airplane.png" alt="" />
            <h3>A Great way to Fly!</h3>
            <ul>
                <li>Safe traveller details</li>
                <li>Manage your bookings</li>
                <li>Hassle free web check-in</li>
                <li>Avail exciting offers</li>
            </ul>
        </div>
        <div class="col-md-8 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Register</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row register-form">
                        <h5 class="register-heading">Log In</h5>
                        <div class="form-group">
                            <p *ngIf="invalidLogin" class="alert alert-danger">
                                <strong>{{messageContent}}</strong>
                            </p>                           
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="onClickSubmit()">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="username"
                                        placeholder="Username *" value="" />
                                </div>
                                <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
                                    class="text-danger">
                                    <div *ngIf="loginForm.controls['username'].errors">
                                        Name is required.
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="password"
                                        placeholder="Password *" value="" />
                                </div>
                                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                                    class="text-danger">
                                    <div *ngIf="loginForm.controls['password'].hasError('required')">Password is required</div>
                                    <div *ngIf="loginForm.controls['password'].hasError('minlength')">Password required minimum of 6 characters</div>
                                </div>
                                <br>
                                <input type="submit" class="btnRegister" value="Login" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row register-form">
                        <div class="col-md-12" style="margin-top: -70px;">
                            <br>
                            <h5 class="register-heading">Register Yourself!</h5>
                            <div class="form-group">
                                <p *ngIf="showSuccessMsg" class="alert alert-success">
                                    <strong>{{messageContent}}</strong>
                                </p>
                                <p *ngIf="showErrorMsg" class="alert alert-danger">
                                    <strong>{{messageContent}}</strong>
                                </p>
                                
                            </div>
                            <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" formControlName="username">
                                    <span class="text-danger"
                                        *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.required">
                                        Username is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.invalidSpace">
                                        Space is not allowed
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" formControlName="email">
                                    <span class="text-danger"
                                        *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                                        Email is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                                        Enter a valid email address
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" formControlName="password">
                                    <span class="text-danger"
                                        *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                                        Password is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                                        Password should have minimum 6 characters, at least 1 uppercase letter, 1
                                        lowercase
                                        letter and 1 number
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" formControlName="confirmPassword">
                                    <span class="text-danger"
                                        *ngIf="(registerFormControl.confirmPassword.touched || submitted)&& registerFormControl.confirmPassword.errors?.required">
                                        Confirm Password is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch">
                                        Passwords does not match
                                    </span>
                                </div>
                                <br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Register</button>
                                </div>                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  