<nav class="navbar navbar-expand-lg" style="background-color: #121213;">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard" routerLink="/dashboard">Manage Airlines</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/schedule" routerLink="/dashboard/schedule">Manage Schedules</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/dashboard/coupon" routerLink="/dashboard/coupon">Manage Coupons</a>
            </li> -->
        </ul>
        <button type="submit" class="btn btn-info" style="margin-left:55%" (click)="logout()">Logout</button>
    </div>
</nav>

<form [formGroup]="scheduleForm">
    <div class="form-group col-lg-12">
        <div class="form-group row" style="margin-left: 30px;margin-right: 30px;">
            <div class="col-md-2"> <label for="airline">Airline Code</label>
                <ng-multiselect-dropdown id="airline" formControlName="airline"
                [placeholder]="'--------select--------'"
                [settings]="airlineCodeDropdownSettings"
                [data]="airlineCodeDropdownList"
                [(ngModel)]="airlineCodeDropdownModel"
                (onSelect)="onAirlineCodeSelect($event)"
                (onDeSelect)="onAirlineCodeDeSelect($event)"
              >
              </ng-multiselect-dropdown>
            </div>
            <div class="col-md-2"> <label for="flightNumber">Flight Number</label>
                <input type="number" class="form-control" id="flightNumber" formControlName="flightNumber">
            </div>
            <div class="col-md-2"> <label for="departureAirport">From</label>
                <input type="text" class="form-control" id="departureAirport" formControlName="departureAirport">
            </div>
            <div class="col-md-2"> <label for="arrivalAirport">To</label>
                <input type="text" class="form-control" id="arrivalAirport" formControlName="arrivalAirport">
            </div>
            <div class="col-md-2">
                <label for="frequency">Frequency</label>
                <ng-multiselect-dropdown id="frequency" formControlName="frequency"
                [placeholder]="'--------select--------'"
                [settings]="frequencyDropdownSettings"
                [data]="frequencyDropdownList"
                [(ngModel)]="frequencyDropdownModel"
                (onSelect)="onFrequencySelect($event)"
                (onDeSelect)="onFrequencyDeSelect($event)"
                (onDeSelectAll)="onFrequencyDeSelectAll($event)"
                (onSelectAll)="onFrequencySelectAll($event)"
              >
              </ng-multiselect-dropdown>
            </div>
            <div class="col-md-2">
                <label for="depatureTime">Depature Time</label>
                <input type="time" class="form-control" id="departureTime" formControlName="departureTime">
            </div>
            <div class="col-md-2">
                <label for="arrivalTime">Arival Time</label>
                <input type="time" class="form-control" id="arrivalTime" formControlName="arrivalTime">
            </div>
            <div class="col-md-2"> <label for="aircraftRegistration">Aircraft Number</label>
                <input type="text" class="form-control" id="aircraftRegistration" formControlName="aircraftRegistration" />
            </div>
            <div class="col-md-2"> <label for="seatCount">Seat Count</label>
                <input type="number" class="form-control" id="seatCount" formControlName="seatCount" />
            </div>
            <div class="col-md-2"> <label for="ticketPrice">Ticket Price</label>
                <input type="number" class="form-control" id="ticketPrice" formControlName="ticketPrice" />
            </div>
            <div class="col-md-2">
                <br>
                <button type="button" class="btn btn-success" (click)="saveFlightSchedule(scheduleForm)">Save Schedule
                </button>
            </div>
        </div>
    </div>
</form>

<br><br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Airline Code</th>
            <th scope="col">Flight Number</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Frequency</th>
            <th scope="col">Depature Time</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Aircraft Number</th>
            <th scope="col">Seat Count</th>
            <th scope="col">Ticket Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let value of this.scheduleList">
            <td>{{value.airline.airlineCode}}</td>
            <td>{{value.flightNumber}}</td>
            <td>{{value.departureAirport}}</td>
            <td>{{value.arrivalAirport}}</td>
            <td>{{value.frequency}}</td>
            <td>{{value.departureTime}}</td>
            <td>{{value.arrivalTime}}</td>
            <td>{{value.aircraftRegistration}}</td>
            <td>{{value.seatCount}}</td>
            <td>{{value.ticketPrice}}</td>
            <td><button class="btn btn-info btn-sm" (click)="openModal(editProfileModal, value)">Edit</button> &nbsp;
                <button class="btn btn-danger btn-sm" (click)="deleteSchedule(value)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #editProfileModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Update Schedule</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="updateScheduleForm" (ngSubmit)="updateFlightSchedule(updateScheduleForm)">
            <div class="form-group col-lg-12" style="padding-bottom: 15px;">
                <input type="text" class="form-control" formControlName="id" id="id" hidden>
                <div class="form-group row" style="margin-left: 30px; margin-right: 30px;">
                    <div class="col-md-6"> <label for="airline">Airline Code</label>
                        <ng-multiselect-dropdown id="airline" formControlName="airline"
                        [placeholder]="'------select------'"
                        [settings]="updateAirlineCodeDropdownSettings"
                        [data]="updateAirlineCodeDropdownList"
                        [(ngModel)]="updateAirlineCodeDropdownModel"
                        (onSelect)="onUpdateAirlineCodeSelect($event)"
                        (onDeSelect)="onUpdateAirlineCodeDeSelect($event)"
                      >
                      </ng-multiselect-dropdown>
                    </div>
                    <br>
                    <div class="col-md-6"> <label for="flightNumber">Flight Number</label>
                        <input type="number" class="form-control" id="flightNumber" formControlName="flightNumber">
                    </div>
                    <br>
                    <div class="col-md-6"> <label for="departureAirport">From</label>
                        <input type="text" class="form-control" id="departureAirport" formControlName="departureAirport">
                    </div><br>
                    <div class="col-md-6"> <label for="arrivalAirport">To</label>
                        <input type="text" class="form-control" id="arrivalAirport" formControlName="arrivalAirport">
                    </div><br>
                    <div class="col-md-6">
                        <label for="frequency">Frequency</label>
                        <ng-multiselect-dropdown id="frequency" formControlName="frequency"
                            [placeholder]="'------select------'"
                            [settings]="updateFrequencyDropdownSettings"
                            [data]="updateFrequencyDropdownList"
                            [(ngModel)]="updateFrequencyDropdownModel"
                            (onSelect)="onUpdateFrequencySelect($event)"
                            (onDeSelect)="onUpdateFrequencyDeSelect($event)"
                            (onDeSelectAll)="onUpdateFrequencyDeSelectAll($event)"
                            (onSelectAll)="onUpdateFrequencySelectAll($event)"
                        >
                        </ng-multiselect-dropdown>
                    </div><br>
                    <div class="col-md-6">
                        <label for="depaturetime">Depature Time</label>
                        <input type="time" class="form-control" id="departureTime" formControlName="departureTime">
                    </div><br>
                    <div class="col-md-6">
                        <label for="arrivalTime">Arival Time</label>
                        <input type="time" class="form-control" id="arrivalTime" formControlName="arrivalTime">
                    </div><br>
                    <div class="col-md-6">
                        <label for="aircraftRegistration">Aircraft Number</label>
                        <input type="text" class="form-control" id="aircraftRegistration" formControlName="aircraftRegistration">
                    </div><br>
                    <div class="col-md-6">
                        <label for="seatCount">Seat Count</label>
                        <input type="number" class="form-control" id="seatCount" formControlName="seatCount">
                    </div><br>
                    <div class="col-md-6"> <label for="ticketPrice">Ticket Price</label>
                        <input type="number" class="form-control" id="ticketPrice" formControlName="ticketPrice" />
                    </div>
                    <!-- <div class="col-md-2">
                        <br>
                        <button type="button" class="btn btn-success" (click)="updateScheduleAirline(updateScheduleForm)">Schedule Airline</button>
                    </div> -->
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>